<div class="task-item-container">
  <div class="task-upper-items">
    <span *ngIf="!(isEditing|async); else editMode" class="task-name">{{ task.title }}</span>

    <ng-template #editMode>
      <input [(ngModel)]="task.title" class="task-input" placeholder="Enter task title" />
    </ng-template>
  </div>

  <div class="task-actions">
    <button mat-raised-button color="warn" (click)="deleteTask()" class="delete-btn" [disabled]="task.editing && !(isEditing | async)">Delete</button>

    <mat-checkbox [(ngModel)]="task.completed" [disabled]="task.editing && !(isEditing | async)" (change)="toggleCompleted()" class="task-checkbox"></mat-checkbox>

    <button mat-raised-button color="primary" (click)="editTask()" class="edit-btn" [disabled]="task.editing && !(isEditing | async)">
      {{ (isEditing | async) ? 'Save' : 'Edit' }}
    </button>
  </div>
</div>